{% load static %}


<!DOCTYPE html>


<style>
    .header-sub {
        background-color: rgba(53, 56, 73, 0.95);
        font-size: 0.8em;
        padding: 0 1.25em 0 1.25em;
        height: 3.5em;
        position: fixed;
        width: 100%;
        top: 0;
        line-height: 44px;
    }
    .header-sub-text {
        height: 44px;
        line-height: 44px;
        margin: 0 0 0 0;

    }

</style>

<html>
<head>
    
    <title>Laura's Bridging Coursework!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="{% static 'imported/css/main.css' %}" />
</head>


<body class="is-preload" id="detail_body" >

    <!-- Page Wrapper -->
    <div id="page-wrapper">


        <!-- Header -->
        <header class="header-sub">
            <h1 class="header-sub-text"><a href="/">Laura's Bridging Coursework!</a></h1>
        </header>

        <br />


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>




</body>
</html>

